
#errorZone
{
  width: 50%;
  color: #721c24 !important;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: .75rem 1.25rem;
  display : none;
  margin : 0 auto;
  margin-top : 1%;
  margin-bottom : 1%;
}

.home_icon{
  position: absolute;
  left: 45%;
  right: 50%;
}

.mUser_icon{
  width:20px;
}

ion-title{
  text-align: center;
}

.mMenu_icon{
  position: absolute;
  left: 20%;
  right: 50%; 
}

.dailyOrder{
  position: absolute;
  left: 67%;
  right: 50%;  
}

.disconnectUser_icon{
margin-top:10px;
}