<!-- Front Users -->
<div *ngIf="isConnected">

    <div class="historic">

        <h1>{{simpleUser.firstname}} {{simpleUser.name}}</h1>
        
        <div class="commandes">
          <h2>Commande du : {{ordersData.creationDate}} : </h2><br>

          <div *ngFor="let order of ordersData | async" class="orders">
            <div class="meal">
              <img src="../../assets/icons/pizza.png"/>
              <p>{{order.quantity.meal.label}}&emsp;</p>
            </div>

            <div class="price">
              <p>&emsp;{{order.quantity.meal.priceDF}}€</p>
            </div>

          </div><br><br>

        </div>

    </div>

</div>

<!-- Front Cantiniere -->
<!--<div *ngIf="isConnected">
    <div class="historic">
        <h1>{{usersData.firstname}} {{usersData.name}}</h1>
      </div><br/>
</div>-->

