.historic_client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historic_lunchLady {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders {
    width: 50%;
    margin: 8px;
    padding: 16px;
    background-color: #F5F5F6;
    border-radius: 4px;
    box-shadow: 1px 2px 2px gainsboro;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.meal {
    display: flex;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}
    
p {
    margin: 0;
    color: #455A64;
}

#card_title {
    font-size: 1.25em;
    font-weight: bold;
}

#username {
    font-size: 1.25em;
    font-weight: bold;
}

#date {
    margin-top: 8px;
    font-size: 1.1em;
}

#meal_container {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    
}

#meal_container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

#meal {
    margin-left: 12px;
}

#price {
    color: #48BC48;
    font-size: 1.25em;
}


