<body>
    <section>
        <article id="formulaireConnexion">
            <form class="box" method="post">
                <h1>Identification</h1>
                <input #mail type="mail" id="email" name="email" placeholder="Adresse Email">
                <input #password type="password" id="password" name="password" placeholder="Mot de passe">
                <button name="submit" value="Envoyer" (click)="checkForConnection(mail.value, password.value)">Se connecter</button>
            </form>
        </article>
    </section>
</body>

