.footer{
    position: absolute;
    bottom: 0px;
}

.home_icon{
    position: absolute;
    left: 45%;
    right: 50%;
}

.mUser_icon{
    width:20px;
}

ion-title{
    text-align: center;
}

.mMenu_icon{
    position: absolute;
    left: 20%;
    right: 50%; 
}

.dailyOrder{
    position: absolute;
    left: 67%;
    right: 50%;  
}

.panier_icon{
    margin-top: 12px;
}
