
  <ion-header class="header">
    <ion-toolbar>
      <ion-icon class="parameters_icon" [routerLink]="['/parameters']" size="large" name="settings-outline"></ion-icon>
      <ion-title size="medium">Historique</ion-title>
      <ion-icon slot="end" class="panier_icon" size="large" name="basket-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <!-- Front user -->
<ion-content *ngIf="statut === '0'" [fullscreen]="true">

  <ion-card *ngFor="let order of ordersData | async"> 
    <img src="../../assets/icons/pizza.png"/>
    <ion-card-header>
        <ion-card-subtitle>Commande du {{order.creationDate}} : </ion-card-subtitle>
        <ion-card-title *ngIf="order.quantity">{{order.quantity[0].meal.label}} {{order.quantity[0].meal.priceDF}}€</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="order.quantity">Quantité : {{order.quantity[0].quantity}}</ion-card-content>
  </ion-card>
</ion-content>


 <!-- Front Cantiniere -->
<ion-content *ngIf="statut === '1'" [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">
      Rechercher une commande par nom :
    </ion-label>
    <ion-input placeholder="placeholder">
    </ion-input>
  </ion-item>
  <ion-card *ngFor="let order of orders | async"> 
    <img src="../../assets/icons/pizza.png"/>
    <ion-card-header>
      <ion-card-subtitle>Commande de {{order.user.firstname}} {{order.user.name}}, le {{order.creationDate}} : </ion-card-subtitle>
      <ion-card-title *ngIf="order.quantity">{{order.quantity[0].meal.label}} {{order.quantity[0].meal.priceDF}}€</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="order.quantity">Quantité : {{order.quantity[0].quantity}}</ion-card-content>
  </ion-card>
</ion-content>

   <!-- <div *ngIf="statut === '1'" class="historic_lunchLady">
      
      <div *ngFor="let order of (orders | async)" class="commandes">
        <h1 >{{order.user.firstname}} {{order.user.name}} </h1>
        
          <div class="orders">
            <h2>Commande du : {{order.creationDate}} : </h2><br>

            <div *ngIf="order.quantity" class="meal">
              <img src="../../assets/icons/pizza.png"/>
              <p>[{{order.quantity[0].meal.label}}]</p>
              <p>Quantité : {{order.quantity[0].quantity}}</p>
            </div>

            <div *ngIf="order.quantity" class="price">
              <p>&emsp;{{order.quantity[0].meal.priceDF}}€</p>           

            </div>
            
          </div><br><br>
        
        </div>
    </div>-->

  <ion-footer class="footer">
    <ion-toolbar>
      <ion-icon class="home_icon" [routerLink]="['/dailyMenu']" size="large" name="home-outline"></ion-icon>
      <ion-icon class="historic_icon" [routerLink]="['/historic']"size="large" name="restaurant-outline"></ion-icon>
    </ion-toolbar>
  </ion-footer>
