.card {
    margin: 8px;
    padding: 16px 24px 16px 16px;
    background-color: #F5F5F6;
    border-radius: 4px;
    box-shadow: 1px 2px 2px gainsboro;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card:hover {
    box-shadow: 3px 6px 6px gainsboro;
}

#card_asset {
    width: 86px;
    margin-right: 16px;
    border-radius: 50%;
}

#card_header {
    display: flex;
    justify-content: space-between;
}

#card_title {
    font-size: 1.25em;
    font-weight: bold;
}

/* Card Footer */

#card_footer {
    height: 40px;
    display: flex;
    margin: 8px 0 0 0;
    justify-content: flex-end;
    align-items: center;
}

#card_price {
    margin: 0;
    color: #48BC48;
    font-size: 1.25em;
}

button {
    margin-left: 16px;
}