<div class="card">

    <img src="{{ image.image64 }}" id="card_asset"/>

    <div id="card_body">

        <div id="card_header">

            <p id="card_title">{{ product.meal.label }}</p>
    
        </div>

        <div id="card_content">
            <p id="card_description">{{ product.meal.description === undefined ? placeholder : 'meal.description' }}</p>
        </div>
    
        <div id="card_footer">

            <p id="card_price">{{ product.meal.priceDF }} €</p>
            <button nz-button nzType="primary" (click)="onAdd()" *ngIf="canAdd()">Add</button>

        </div>

    </div>

</div>
