<div *ngIf="isConnected">
    <div class="myProfile">
      <h1>Mon profil</h1>
      <img class="imgProfile" [src]="url"> <br/>
      <div class="majPhoto">
        <button class="btnModifPhoto">Mettre a jour la photo</button>
        <input  type="file" (change)="onSelectFile($event)" accept="image/png, image/jpeg"/>
      </div><br/>
    </div>

  
    <div class="param">
      <h1>Notifications</h1>
      <p>Activer les Notifications</p>
      <label class="switch notifs">
        <input (change)="notifications($event)" type="checkbox" checked>
        <span class="slider round"></span>
        <!--<span *ngIf="marked" class="slider round">Vrai</span><span *ngIf="!marked" class="slider round">Faux</span>-->
      </label>
    </div><br/>
  
    <div class="darkTheme">
      <h1>Dark theme</h1>
      <div class="toggle-darkTheme">
        <label class="switch dark">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
<!--
<button (click)="tinyAlert()">Simple Notification</button>

<button (click)="successNotification()">Sucess Notification</button>

<button (click)="alertConfirmation()">Show me Confirmation</button>-->
 </div>
