<ion-content [fullscreen]="true">
  <ion-header *ngIf="isConnected" collapse="condense">
    <ion-toolbar>
      <ion-icon class="parameters_icon" [routerLink]="['/parameters']" size="large" name="settings-outline"></ion-icon>
      <ion-title size="medium">Menu du jour</ion-title>
      <ion-icon slot="end" class="panier_icon" size="large" name="basket-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="isConnected == false">
    <ion-toolbar >
      <ion-title size="medium">Menu du jour</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-footer *ngIf="isConnected" class="footer">
    <ion-toolbar>
      <ion-icon class="home_icon" [routerLink]="['/dailyMenu']" size="large" name="home-outline"></ion-icon>
      <ion-icon class="historic_icon" [routerLink]="['/historic']"size="large" name="restaurant-outline"></ion-icon>
    </ion-toolbar>
  </ion-footer>

  <ion-footer *ngIf="isConnected == false" class="footer">
    <ion-toolbar >
      <ion-button expand="block" [routerLink]="['/authentication']">Se connecter</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>