<ion-content>
  <div *ngIf="products.length > 0">
    <ion-card id="shopping_cart">

      <ion-card-header id="header_shopping_cart">
        <ion-img id="ic_shopping_cart" src="../../assets/shopping-cart.svg"></ion-img>
        <ion-card-title>Shopping Cart</ion-card-title>
      </ion-card-header>

      <ion-card-content id="product_container" *ngFor="let product of products">

        <div id="quantity_container">
          <img class="quantity_btn" id="minus_btn" src="../../assets/minus_outlined.svg" (click)="onLess(product.meal)"/>
          <p id="quantity">{{ product.quantity }}</p>
          <img class="quantity_btn" id="plus_btn" src="../../assets/plus_outlined.svg" (click)="onPlus(product.meal)"/>

          <p id="product_label">{{ product.meal.label }}</p>
        </div>

        <p class="price">{{ getProductPrice(product) }}</p>

      </ion-card-content>

      <ion-card-content id="cart_card_footer">
        <p>Montant : <span class="price">{{ getCartPrice() }}</span></p>
        <ion-button class="ion_button" (click)="onOrder()">Commander</ion-button>
      </ion-card-content>

    </ion-card>
  </div>

  <div id="meals_container">
    <ion-card *ngFor="let meal of meals">
      <ion-card-header>
        <ion-img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"></ion-img>
        <ion-card-title id="meal_title">{{ meal.label }}</ion-card-title>
      </ion-card-header>

      <ion-card-content id="meal_card_footer">
        <p class="price">{{ meal.priceDF }} €</p>
        <ion-button class="ion_button" *ngIf="isAddedToCart(meal)" (click)="onAdd(meal)">Add</ion-button>
      </ion-card-content>

    </ion-card>
  </div>
  
</ion-content>