<div>
    <div id="meal_container">
        <!--<app-menu 
            *ngFor="let menu of menus; index as i"
            [menu]="menu"
            [canSee]="canSee"
            (onQuantityChange)="onMeal($event)">
        </app-menu>-->

        <app-meal-card 
            *ngFor="let meal of meals; index as i"
            [meal]="meal"
            [canSee]="canSee"
            (onQuantityChange)="onMeal($event)">
        </app-meal-card>

    </div>

    <app-shopping-card 
        [products]="products"
        [userId]="userId"
        [userWallet]="userWallet"
        *ngIf="canSee">
    </app-shopping-card>

</div>

<div *ngIf="canSee">
</div>
