div {
    display: flex;
    flex-direction: row;
}

#meal_container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

app-meal-card {
    width: 100%;
    margin-bottom: 32px;
}

app-shopping-card {
    width: 30%;
    margin-left: 16px;
}