.container
{
    margin-left: 15% !important;
}

.card
{
    margin-bottom: 5% !important;
    margin-right : 5% !important;
}

#inputSearch
{
    margin-top : 5% !important;
    margin-left: 10% !important;
    margin-bottom: 5% !important;
}

.home_icon{
    position: absolute;
    left: 45%;
    right: 50%;
}

.mUser_icon{
    width:20px;
}

ion-title{
    text-align: center;
}

.mMenu_icon{
    position: absolute;
    left: 20%;
    right: 50%; 
}

.dailyOrder{
    position: absolute;
    left: 67%;
    right: 50%;  
}