.container
{
    margin-left: 15% !important;
}

.card
{
    margin-bottom: 5% !important;
    margin-right : 5% !important;
}

#inputSearch
{
    margin-top : 5% !important;
    margin-left: 10% !important;
    margin-bottom: 5% !important;
}