<app-parameters (notifs)='gererNotifs($event)'></app-parameters>
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <h1 class="name">{{usersData.firstname}} {{usersData.name}}</h1> 
      
    </div>
    
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <!-- 
          C'est ici qu'est fait la vérification pour chaque affichage de menu 
          1 - Vérification du rôle de l'utilisateur
        --> 
        <ul *ngIf = "statut === 'admin'"> 
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/dailyMenu']">Menu du jour</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/dailyOrder']">Commandes du jour</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/historic']">Historique des commandes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/manageMenu']">Gestion des menus</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/manageProduct']">Gestion des aliments</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/manageUser']">Gestion des utilisateurs</a>
          </li>
        </ul>
        
        <ul id="routingConnectionBox" *ngIf = "statut === 'visiteur'">
          <li class="routingConnection" (click) = toggleDisplayAuthentication()>
            <a>Se connecter</a>
          </li>
        </ul>
        <ul *ngIf = "statut === 'client'">
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/historic']">Historique des commandes</a>
          </li> 
        </ul>
      <li nz-submenu nzOpen nzTitle="Autres" nzIcon="form" *ngIf = "statut != 'visiteur'">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let menu of communs">
            <a routerLink={{menu.path}}>{{menu.name}}</a>
          </li>          
          <li class="routingConnection" (click) = ngOnDestroy()>
            <a>Se déconnecter</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <button *ngIf = "statut === 'admin'" (click)="tinyAlert()">Simple Notification</button>

<button *ngIf = "statut === 'admin'" (click)="successNotification()">Sucess Notification</button>

<button *ngIf = "statut === 'admin'" (click)="alertConfirmation()">Show me Confirmation</button>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <div [hidden]="!isDisplayAuthentication">
          <section>
            <article id="formulaireConnexion">
                <form class="box" method="post">
                    <h1>Identification</h1>
                    <input #mail type="mail" id="email" name="email" placeholder="Adresse Email">
                    <input #password type="password" id="password" name="password" placeholder="Mot de passe">
                    <button name="submit" value="Envoyer" (click)="verifInput(mail.value, password.value)">Se connecter</button>
                </form>
                <div id="errorZone">{{phraseConnexion}}</div>
            </article>
          </section>
        </div>
        <router-outlet *ngIf="statut != 'visiteur'"></router-outlet> 
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

