<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
        <img src="" alt="logo">
        <h1>Projet Cantinière</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <!-- 
          C'est ici qu'est fait la vérification pour chaque affichage de menu 
          1 - Vérification du rôle de l'utilisateur
        -->        
        <ul *ngIf = "statut === 'admin'"> 
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/dailyOrder']">Commandes du jour</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/historic']">Historique des commandes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/manageMenu']">Gestion des menus</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/manageProduct']">Gestion des aliments</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/manageUser']">Gestion des utilisateurs</a>
          </li>
        </ul>
        <ul *ngIf = "statut === 'visiteur'">
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/authentication']" [state]="jean">Se connecter</a>
          </li>
        </ul>
        <ul *ngIf = "statut === 'client'">
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/historic']">Historique des commandes</a>
          </li>
        </ul>
      <li nz-submenu nzOpen nzTitle="Autres" nzIcon="form" *ngIf = "statut != 'visiteur'">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let menu of communs">
            <a routerLink={{menu.path}}>{{menu.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

